<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AltaServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.AltaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductoCRUDServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.ProductoCRUDServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductoFormServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.ProductoFormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioCRUDServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.UsuarioCRUDServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuarioFORMServlet</servlet-name>
  	
  	
  	<servlet-class>com.ipartek.formacion.tienda.servlets.UsuarioFORMServlet</servlet-class>
  </servlet>
  <description>
  	
  	</description>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AltaServlet</servlet-name>
  	<url-pattern>/Alta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductoCRUDServlet</servlet-name>
  	<url-pattern>/Productocrud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductoFormServlet</servlet-name>
  	<url-pattern>/Productoform</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioCRUDServlet</servlet-name>
  	<url-pattern>/Usuariocrud</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsuarioFORMServlet</servlet-name>
  	<url-pattern>/Usuarioform</url-pattern>
  </servlet-mapping>
</web-app>
